.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: sans-serif;
    }
    .modal-content{
    background-color: #92c927;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-width: 650px;
    margin:auto;
    border-radius:0px;
    border: 0px solid #fcfcfc;
    padding: 15px;
    -webkit-border-image: url(none) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(none) 30 stretch; /* Opera 11-12.1 */
    border-image: url(none) 30 stretch;
    }
    .modal-close{
    font-size: 20px;
    float: right;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    margin-top: -10px;
    transition: all .2s;
    cursor: pointer;
    width: auto;
    }
    .modal-close:hover{
    color: #3b3b3b;
    }
    .modal-img img{
    width: 100%;
    }
    .modal-text{
    text-align: center;
    color:#ffffff;
    }
    .modal-text h2{
    font-size: 24px;
    font-weight: 600;
    font-family: Lato;
    }
    .modal-text p{
    font-size: 17px;
    margin-top: -15px;
    margin-bottom: 50px;
    font-family: Lato;
    }
    .modal-footer{
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.5);
    width: auto;
    background-color: #3b3b3b;
    margin:-15px;
    }
    input[type=text].modal-input{
    color: rgba(0, 0, 0, 0.5);
    width:80%;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    outline: rgba(0, 0, 0, 0.5) none 0px;
    padding: 15px;
    }
    input[type=submit].modal-submit-btn{
    padding: 14px;
    font-size: 14px;
    background-color: #3bb4f5;
    color:#ffffff;
    width:auto;
    border:none;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: -13px;
    }
    @media screen and (max-width: 27em) {
    input[type=text].modal-input{
    width:90%;
    margin-bottom: 0px;
    }
    input[type=submit].modal-submit-btn{
    width:90%;
    }
    .modal-text p{
    font-size: 15px;
    }
    }